<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<mat-toolbar color="primary">
    <span class="title-center">Autor</span>
</mat-toolbar>
<body class="w3-light-grey">
<div class="w3-content" style="max-width:1400px">
<header class="w3-container w3-center w3-padding-32">
   <h2>Informacije o autoru:</h2>
   <p class='animation'>Luka Božanić,IT16/2019</p>
   <p class='animation'>Fakultet: Fakultet tehničkih nauka</p>
   <p class='animation'>Smer: Inženjerstvo informacionih sistema</p>
   <p class='animation'>Predmet: Razvoj višeslojnih aplikacija</p>

</header>
</div>
</body>
</html>

